body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    color: #333;
}

/* Estilos para el carrito */
#carrito h4 {
    font-weight: 700;
}

/* Estilos para transiciones */
section {
    transition: opacity 0.5s ease-in-out;
}

.d-none {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

/* Estilo del botón de cambiar fondo */
#cambiar-fondo {
    margin-top: 20px;
}
